<header class="header">
  <div class="logo">
    <a routerLink="/home">
      <img src="assets/images/logo.png" alt="Logo" />
      <span>Quem tem Boca</span>
    </a>
  </div>

  <div class="search">
    <div class="search-bar">
      <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
      <input 
        type="text" 
        placeholder="Pesquisar..." 
        (input)="onSearch()" 
        [(ngModel)]="query" 
        (focus)="showDropdown = true" 
        (blur)="hideDropdownWithDelay()" 
      />
    </div>
    <ul class="search-dropdown" *ngIf="searchResults.length">
      <li *ngFor="let option of searchResults" (click)="goToDetail(option._id)">{{ option.name }}</li>
    </ul>
  </div>

  <nav>
    <a routerLink="/">Início</a>
    <a routerLink="/restaurantes">Restaurantes</a>
    <a routerLink="/mercados">Mercados</a>
  </nav>

  <div class="buttons-container">
    <ng-container *ngIf="isLoggedIn; else loginButton">
      <span class="username">Olá, {{ username }}</span>
      <button class="btn-logout" (click)="logout()">Sair</button>
    </ng-container>

    <ng-template #loginButton>
      <button class="btn-login" (click)="goToLogin()">Entrar</button>
    </ng-template>
  </div>
</header>
