<app-header></app-header>

<main>
  <div class="restaurant-list-container">
    <h2>Restaurantes</h2>
    <div class="restaurant-list">
      <div class="restaurant-item" *ngFor="let restaurant of restaurants" [routerLink]="['/restaurant', restaurant.id]">
        <img [src]="restaurant.iconUrl" [alt]="restaurant.name" class="restaurant-image"/>
        <div class="restaurant-info">
          <h3>{{ restaurant.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="category-list-container">
    <h2>Busque por Categoria</h2>
    <div class="category-list">
      <div class="category-item" *ngFor="let category of categories">
        <img [src]="category.imageUrl" [alt]="category.name" class="category-image" />
        <div class="category-info">
          <h3>{{ category.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="promotion-list-container">
    <h2>Promoção do dia</h2>
    <div class="promotion-list">
      <div class="promotion-item" *ngFor="let promotion of promotions">
        <div class="promotion-card" [style.backgroundImage]="'url(' + promotion.imageUrl + ')'">
          <div class="promotion-info-container">
            <div class="promo-info">
              <h3>{{ promotion.title }}</h3>
              <span>Apenas {{ promotion.price }}</span>
            </div>
            <div class="btn-container">
              <button class="buy-button">Eu quero!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-list-container">
    <h2>Mais pedidos da semana</h2>
    <div class="category-list">
      <div class="menu-item" *ngFor="let menuItem of menuItens">
        <div class="menu-card">
          <img [src]="menuItem.imageUrl" [alt]="menuItem.title" class="menu-image" />
          <div class="menu-info">
            <h4>{{ menuItem.title }}</h4>
            <p class="category">{{ menuItem.subtitle }}</p>
          </div>
          <div class="price-container">
            <span class="price">{{ menuItem.price }}</span>
          </div>
          </div>
        </div>
      </div>
    </div>

</main>