<app-header></app-header>

<main>
  <div class="restaurant-list-container">
    <h2>Restaurantes</h2>
    <div class="restaurant-list">
      <div class="restaurant-item" *ngFor="let restaurant of restaurants">
        <img [src]="restaurant.imageUrl" [alt]="restaurant.name" class="restaurant-image" />
        <div class="restaurant-info">
          <h3>{{ restaurant.name }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="category-list-container">
    <h2>Busque por Categoria</h2>
    <div class="category-list">
      <div class="category-item" *ngFor="let category of categories">
        <img [src]="category.imageUrl" [alt]="category.name" class="category-image" />
        <div class="category-info">
          <h3>{{ category.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</main>